@charset "utf-8";
html{
}
body{
  
}

* {
  margin: 0;
  padding: 0;
}

/* header */
header{
  background:#186AC9;
  height: 115px;
  display: flex;
  align-items: center;
}
/*head*/

.head-wrapper {
  display: flex;
  align-items: center;
  
}

.head-wrapper>div:first-of-type {
  margin-right: auto;
}

.menuber {
  
}

.left img {
  width: 138px;  /*画像サイズを変更*/
}

.submenu01 {
  position: absolute;
  background-color: antiquewhite;
  margin-top: 45px;
  width: 140px;
  /* display: none; */
}


/*side-bar*/
.side-bar-content {
  display: flex;
  padding: 0 0 0 10px;
}

.list{
  text-align: right;
  margin: 20px;
}

.btn-user-search {
  text-align: center;
  margin: 70px;
}

.side-bar-username {
  margin: 40px 20px;
}

.side-bar-content-number1 {
  padding: 0 0 0 65px;
}

.side-bar-content-number2 {
  padding: 0 0 0 50px;
}

/*上段border-bottom*/
.common-top {
  height: 205px;
  border-bottom: 10px solid #666666;
}


/*top*/
.user-form {
  display: flex;
}


.form-control {
  min-height: 150px;
  
} 

.pull-right {
  width: 40%;
  height: auto;
  text-align: right;
}



/* .showtimeline {
  border-bottom: 1px solid #666666;
} */

.top-usericon {
  padding-left: 110px;
  padding-top: 50px;
}



/*profile*/
.UserProfile {
  display: flex;
}

.profile-image {
  padding-left: 300px;
  padding-top: 90px;
}

/* .profileupdate {
  display: inline-block;
}  */

/* .form {
  margin: 0 auto;
  padding: 50px 0 0 0;
} */


tr {
  display: block;
  padding-bottom: 60px;
  padding-left: 50px;
}

th {
  text-align: left;
  font-size: 25px;
}

.profile-input {
  min-width: 500px;
  min-height: 50px;  
}

input[type="text"] {
  font-size: 25px;
  text-indent:10px;
}

.username-form {
  padding-top: 90px;  
}

/* input[type="file"] {
  display: none;
}

.iconimage {
  padding: 10px 40px;
  color: #ffffff;
  background-color: #384878;
  
} */

.user-name {
  padding-right: 200px;
}

.mail-adress {
  padding-right: 190px;
}

.password {
  padding-right: 215px;
}

.password-confirm {
  padding-right: 115px;
} 

.bio {
  padding-right: 295px;
}

.icon-image {
  padding-right: 198px;
}

.btn-update {
  text-align: center;
}

/*search.blade*/
.search-block {
  display: flex;
  padding-top: 70px;
  padding-left: 80px;
}

.search-form {
  width: 440px;
  height: 50px;
  margin-right: 20px;
}

.my-parts {
  background-color: #186AC9;
  width: 55px;
  height: 55px;
  position: relative;
  /*角を削る*/
}

.btn-search {
  background-color: #186AC9;
  width: 40px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showsearch {
  margin-top: 50px;
}

.searchresult {
  
}




/*↓アコーディオンメニュー　開いた状態の矢印描画まで*/
/*アコーディオン全体*/

.arrow{
  width: 20px; /* ボックスの横幅を指定する */
  height: 20px; /* ボックスの高さを指定する */
  margin: 0 20px;
  border-top: 2px solid #666666; /* 境界線の上部を実線に指定する*/
  border-right: 2px solid #666666;/* 境界線の上部を実線に指定する*/
  display: inline-block; /* インライン要素化 */
}

.bottom {
  transform: rotate(135deg); /* ボックスを回転させる（下向き矢印） */
}

/* .menuber {
  width: auto;
  padding: 10px 10px 20px;
} */

/* .menu {
    width: 20%;
    padding: 10px 10px 20px;
  } */
 /* .menu input { */
    /* display: none; チェックボックスを隠す */
  /* }  */
/*バー部分*/
/* .menu label {
    cursor :pointer;
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 1;
    position: relative;
    margin: 0 0 10px;
    padding: 10px;
    
  } */
/*開いたときに表示される部分*/
/* .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1px;
  } */
/* .menu li {
    height: 0;
    overflow-y: hidden;
    transition: padding-bottom 0.5s, padding-top 0.5s; /*閉じるときのアニメーション*/
    /* -webkit-transition: padding-bottom 0.5s, padding-top 0.5s;
    -moz-transition: padding-bottom 0.5s, padding-top 0.5s;
    -ms-transition: padding-bottom 0.5s, padding-top 0.5s;
    -o-transition: padding-bottom 0.5s, padding-top 0.5s;
  } */
/* #menu_bar01:checked ~ #links01 li{ 
    height: auto; 
    opacity: 1;
    background: #f1f1f1;
    padding: 10px;
  } */
/*開いたときの下の余白*/
    /* #menu_bar01:checked ~ #links01 li:last-child{
    margin-bottom: 20px;
  } */

/*閉じた状態の矢印描画*/
/* .menu label:after{
    content:"";
    display:block;
    width:8px;
    height:8px;
    border-top: #fff 2px solid;
    border-right: #fff 2px solid;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    position:absolute;
    right: 2%;
    top: 0;
    bottom: 15%;
    margin: auto;
  } */
/*開いた状態の矢印描画*/
/* .menu input[type=checkbox]:checked + label:after{
    content:"";
    display:block;
    width:8px;
    height:8px;
    border-top: #fff 2px solid;
    border-right: #fff 2px solid;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position:absolute;
    right: 2%;
    top: 7%;
    bottom: 0;
    margin: auto;
  } */
/*アコーディオンメニュー終わり*/

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* モーダル */
.content{
  margin: 0 auto;
  padding: 40px;
}
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

/*register*/
.register {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

/*profile.blade*/

